@model Aisoftware.Tracker.Borders.ViewModels.ReportViewModel

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Relatórios
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="box-body">
                <div class="form-group">
                    <label for="deviceId" class="col-sm-2 control-label">Dispositivo</label>
                    <div class="col-sm-10">
                        <select id="deviceId" class="form-control" name="deviceId">
                            <option value="">Todos</option>
                            @foreach (var item in Model.Devices)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="groupId" class="col-sm-2 control-label">Cliente Base</label>
                    <div class="col-sm-10">
                        <select id="groupId" class="form-control" name="groupId">
                            <option value="">Selecione o Cliente</option>
                            @foreach (var item in Model.Groups)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="period" class="col-sm-2 control-label">Período</label>
                    <div class="col-sm-10">
                        <select id="period" class="form-control" name="period">
                            <option value="" selected>Selecione o Período</option>
                            <option value="0">Personalizado</option>
                            <option value="1">Hoje</option>
                            <option value="2">Ontem</option>
                            <option value="3">Esta Semana</option>
                            <option value="4">Semana Passada</option>
                            <option value="5">Este Mês</option>
                            <option value="6">Mês Anterior</option>
                        </select>
                    </div>
                </div>

                <div id="custom-date" class="form-group">
                    <label for="from" class="col-sm-2 control-label">De</label>
                    <div class="col-sm-4">
                        <input id="from" type="datetime-local" class="form-control" name="from" placeholder="Data">
                    </div>

                    <label for="to" class="col-sm-2 control-label">Até</label>
                    <div class="col-sm-4">
                        <input id="to" type="datetime-local" class="form-control" name="to" placeholder="Data">
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default" formaction="/" formmethod="post">Voltar</button>
                <button type="submit" class="btn btn-info pull-right" formaction="Reports/@ViewBag.reportName"
                    formmethod="get">Pesquisar</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>

<!-- page script -->
<script>
    const empty = '';
    const disabled = 'disabled';
    const hidden = 'hidden';

    $(document).ready(function () {
        groupIsSelected();
        customeDate();
    });

    $("#deviceId").change(function () {
        groupIsSelected();
    });

    function groupIsSelected() {
        const deviceId = $('select[name=deviceId]');
        const groupId = $('select[name=groupId]');
        
        if (deviceId.val() != empty) {
            groupId.attr(disabled, disabled);
            groupId.val(0);
        } else {
            groupId.removeAttr(disabled);
            groupId.val(empty);
        }
        
    }

    $("#period").change(function () {
        customeDate();
    });

    function customeDate() {
        const period = $('select[name=period]');
        const customeDate = $('#custom-date');
        const from = $('#from');
        const to = $('#to');

        if (period.val() != 0 || period.val() == empty) {
            customeDate.attr(hidden, hidden);
            from.val(empty);
            to.val(empty);
        } else {
            customeDate.removeAttr(hidden);
        }
    }


</script>